<ion-header class="ion-no-border" [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button (click)="ngOnDestroy()"></ion-back-button>
    </ion-buttons>
    <ion-title>
      <img src="assets/img/top_bar2.png" width="50px" class="top-bar" />
    </ion-title>
    <ion-buttons slot="end">
      <ion-menu-button autoHide="false"></ion-menu-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content [scrollEvents]="true">
  <ion-button
    class="goToTheLastStateButton"
    size="medium"
    color="primary-color"
    fill="outline"
    (click)="goToTheLastState()"
  >
    {{ "LAST_STATE" | translate }}
    <ion-icon slot="start" name="arrow-down-outline"></ion-icon>
  </ion-button>
  <ion-card
    *ngFor="let iniState of initialStates; let last = last;"
    class="card-center"
  >
    <ion-card-content>
      <div *ngIf="last">
        <strong>{{iniState.stateName}}</strong>
        <h5>{{iniState.startTime | date:'hh:mm'}}</h5>
      </div>
      <div *ngIf="!last">
        <h2>{{iniState.stateName}}</h2>
        <h5>{{iniState.startTime | date:'hh:mm'}}</h5>
      </div>
    </ion-card-content>
  </ion-card>
</ion-content>
