<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>surgical</ion-title>
    <ion-buttons slot="end">
      <ion-menu-button autoHide="false"></ion-menu-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-grid class="ion-text-center">
    <ion-row>
      <ion-card>
        <ion-card-content>
          <ion-text color="dark">
            <h1>{{ "ROOM_SURG" | translate}}</h1>
          </ion-text>
          <br />
          <ion-text color="dark">
            <h5>{{ "TRACK_CODE" | translate }}</h5>
          </ion-text>
          <ion-item>
            <ion-input></ion-input>
          </ion-item>
          <br />
          <ion-col size="12"> {{ "LEGAL_TERMS" | translate }} </ion-col>
          <ion-checkbox color="primary"></ion-checkbox>
          <br />
          <br />
          <ion-button
            size="medium"
            color="secondary"
            (click)="directToSurgicalTracking()"
          >
            <ion-icon slot="start" name="search"></ion-icon>
            {{ "SEARCH" | translate }}
          </ion-button>
        </ion-card-content>
      </ion-card>
    </ion-row>
  </ion-grid>
</ion-content>
