<ion-header class="ion-no-border" [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>
      <img src="assets/img/top_bar2.png" width="50px" />
    </ion-title>
    <ion-buttons slot="end">
      <ion-menu-button autoHide="false"></ion-menu-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content padding>
  <ion-grid class="ion-text-center">
    <ion-row>
      <ion-card class="content-card">
        <ion-card-content>
          <ion-text color="dark">
            <h1>{{ hospitalCareTypeText | translate}}</h1>
          </ion-text>
          <br />
          <ion-text color="dark">
            <h5>{{ "TRACK_CODE" | translate }}</h5>
          </ion-text>
          <ion-item class="underline">
            <ion-input
              type="text"
              [(ngModel)]="patientId"
              class="ion-text-center"
              id="input"
            ></ion-input>
          </ion-item>
          <br />
          <ion-col>
            <ion-row>
              <ion-item lines="none"
                ><ion-text (click)="directToLegal()"
                  ><h5>
                    {{ "LEGAL_TERMS_1" | translate }}
                    <font color="#5260ff"
                      >{{ "LEGAL_TERMS_2" | translate }}</font
                    >
                  </h5>
                </ion-text>
              </ion-item>
            </ion-row>
            <ion-row>
              <ion-checkbox (ionChange)="isChecked($event)"></ion-checkbox>
            </ion-row>
          </ion-col>
          <br />
          <ion-button
            class="searchButton"
            size="medium"
            color="primary-color"
            fill="outline"
            (click)="directToEmergencyTracking()"
            id="searchButt"
          >
            {{ "SEARCH" | translate }}
            <ion-icon slot="start" name="search"></ion-icon>
            <ion-icon slot="end" name="chevron-forward"></ion-icon>
          </ion-button>
        </ion-card-content>
      </ion-card>
    </ion-row>
  </ion-grid>
</ion-content>
