ion-header {
  ion-toolbar,
  ion-item {
    --background: #ffffff;
    background: #ffffff;
    padding: 0 10px;
  }
  ion-title {
    text-align: center;
  }
}

ion-content {
  ion-card {
    box-shadow: none !important;
  }

  #container {
    ion-title {
      text-align: center;
    }
    text-align: center;
    position: absolute;
    left: 0;
    right: 0;
    top: 50%;
    transform: translateY(-70%);

    .center-button {
      ion-title {
        text-align: center;
      }
      .room-surg-bottons {
        --border-radius: 0px;
        text-transform: none;
      }
    }
  }
  #container strong {
    font-size: 20px;
    line-height: 26px;
  }
}

ion-item {
  margin: 10px auto;
}
