<ion-header class="ion-no-border" [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button (click)="goBackButton()"></ion-back-button>
    </ion-buttons>
    <ion-title>
      <img src="assets/img/top_bar2.png" width="50px" />
    </ion-title>
    <ion-buttons slot="end">
      <ion-menu-button autoHide="false"></ion-menu-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content padding>
  <div id="container">
    <ion-card>
      <ion-item lines="none">
        <ion-title><h1>{{ "CONTACT" | translate }}</h1></ion-title>
      </ion-item>
      <ion-card-content>
        <ion-item lines="none">
          <ion-text>
            <h2>{{ "ADDRESS" | translate }}:</h2>
            <h2>
              <font color="#3e4a74">{{ "ADDRESS_VALUE" | translate }}</font>
            </h2>
          </ion-text>
        </ion-item>
        <ion-item lines="none" class="center-button">
          <ion-title>
            <ion-button
              size="medium"
              color="primary-color"
              fill="outline"
              class="room-surg-bottons"
              (click)="goToHospitalLocation()"
            >
              <ion-label>
                <ion-text>
                  <h2>{{ "ADDRESS_GO" | translate }}</h2>
                </ion-text>
              </ion-label>
              <ion-icon slot="start" name="location-outline"></ion-icon>
              <ion-icon slot="end" name="chevron-forward"></ion-icon>
            </ion-button>
          </ion-title>
        </ion-item>
        <ion-item lines="none">
          <ion-text>
            <h2>{{ "TELEPHONE" | translate }}:</h2>
            <h2><font color="#3e4a74">+34 937 41 77 00</font></h2>
          </ion-text>
        </ion-item>
        <ion-item lines="none" class="center-button">
          <ion-title>
            <ion-button
              size="medium"
              color="primary-color"
              fill="outline"
              class="room-surg-bottons"
              (click)="callToTheHospital()"
            >
              <ion-label>
                <ion-text>
                  <h2>{{ "TELEPHONE_GO" | translate }}</h2>
                </ion-text>
              </ion-label>
              <ion-icon slot="start" name="call-outline"></ion-icon>
              <ion-icon slot="end" name="chevron-forward"></ion-icon>
            </ion-button>
          </ion-title>
        </ion-item>
      </ion-card-content>
    </ion-card>
  </div>
</ion-content>
