ion-header {
  ion-toolbar,
  ion-item {
    --background: #ffffff;
    background: #ffffff;
    padding: 0 10px;
  }
}

ion-menu ion-toolbar {
  text-align: center;
}

ion-menu ion-label {
  position: absolute;
  left: 50px;
}

ion-select {
  position: absolute;
  left: 130px;
}

.menuOptions {
  margin-top: 20px;
  .item {
    margin-bottom: 10px;
  }
}
