.my-custom-menu .image::after {
  color: aqua;
}

ion-menu ion-toolbar {
  text-align: center;
}

ion-menu ion-label {
  position: absolute;
  left: 50px;
}

ion-select {
  position: absolute;
  left: 130px;
}
